/.idea
/.vs
/src/Wizard.Client/.browserslistrc
/src/Wizard.Client/.editorconfig
/src/Wizard.Client/.gitignore
/src/Wizard.Api/bin/
/src/Wizard.Api/obj/
/src/Wizard.App/bin/
/src/Wizard.App/obj/
/src/Wizard.Data/bin/
/src/Wizard.Data/obj/
/src/Wizard.Domain/bin/
/src/Wizard.Domain/obj/
/src/Wizard.PostgresMigrations/bin/
/src/Wizard.PostgresMigrations/obj/
/src/Wizard.SqliteMigrations/bin/
/src/Wizard.SqliteMigrations/obj/
/src/Wizard.Utils/bin/
/src/Wizard.Utils/obj/
/src/Wizard.Api/Registrations.*
/obj/
/src/Wizard.Client/node_modules
/src/Wizard.Client/.angular
